 <div class="col-md-10 col-md-offset-1">
  <div class="jumbotron">
    <h2>Ladybug Montessori Learning Center</h2>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div> 

<div class="col-md-3">
  <div class="w3-card-4">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Practical Life</p>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="w3-card-4">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Sensorial</p>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="w3-card-4">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Mathematics</p>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="w3-card-4">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Language</p>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="w3-card-4">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Science</p>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="w3-card-4" style="width:100%;">
    <header class="w3-container w3-blue">
      <h1>Science</h1>
    </header>
    <div class="w3-container">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>
        <button class="w3-btn w3-dark-grey">Button</button>
      </p>
    </div>
    <footer class="w3-container w3-blue">
      <h5>Footer</h5>
    </footer>
  </div>
</div>