
  <div class="container-fluid" id="footer">
    <div class="col-md-2 col-sm-3">
      <p>Phone: 973-759-1211</p>
    </div>
    <div class="col-md-2 col-md-offset-3 col-sm-2">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x"></i>
      </span>
    </div>
    <div class="col-md-5 col-sm-5">
      <p>Address: 617 Washington Ave. Belleville NJ 07109</p>
    </div>
  </div> 
