<div class="topic-body">
  <h1>Practical Life</h1>
  <h3>-Children practice tasks of daily life such as spooning, pouring, sponging, grating, hand washing, lacing, buttoning, preparing and serving food.  The activities in each area are changed monthly to keep the interest of the children.  These activities are designed to help the children gain a sense of order, concentration, coordination and independence of their fine motor skills.  These skills are developed to help in all areas of the classroom. </h3>
</div>