 <div class="col-md-10 col-md-offset-1">
  <div class="jumbotron">
    <h1 class="jumbotext">Ladybug Montessori Learning Center</h1>
    <h3>“Providing Children With The Freedom To Fly”</h3>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div> 

<div class="col-md-4 col-sm-6">
  <div class="w3-card w3-hover-shadow">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Practical Life</p>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="w3-card w3-hover-shadow">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Sensorial</p>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="w3-card w3-hover-shadow">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Mathematics</p>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="w3-card w3-hover-shadow">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Language</p>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="w3-card w3-hover-shadow">
    <img src="images/carousel/img_5288.jpg" alt="Practical Life" style="width:100%">
    <div class="w3-container w3-center" id="topic-card">
      <p>Science</p>
    </div>
  </div>
</div>
